.banner {
  width: 100%;
  height: 100vh;
  padding: 5% 10%;
  // background-image: url('/images/shape.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  @media screen and (min-width: 1400px) {
    max-height: 1000px;
  }
  @media screen and (max-width: 888px) {
    padding: 3% 5%;
    margin-top: 50px;
  }
  @media screen and (max-width: 520px) {
    flex-wrap: wrap;
  }
  .bannerBg {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
    @media screen and (max-width: 1024px) {
      height: 80vh;
    }
  }
  .bannerLeft {
    width: 100%;
    z-index: 2;
    color: #ffffff;
    padding-top: 100px;
    @media screen and (min-width: 521px) and (max-width: 1024px) {
      margin-bottom: 50px;
      padding-top: 0;
    }
    @media screen and (max-width: 520px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .bannerHeader {
      max-width: 741px;
      max-height: 116px;
      font-weight: 600;
      font-size: 62px;
      line-height: 75px;
      @media screen and (min-width: 1600px) {
        max-width: auto;
        max-height: auto;
        font-size: 85px;
        line-height: 115px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 48px;
        line-height: 56px;
      }
      @media screen and (max-width: 520px) {
        font-size: 42px;
        line-height: 50px;
        margin-right: 10px;
      }
      @media screen and (max-width: 375px) {
        font-size: 36px;
        line-height: 50px;
        text-align: center;
      }
    }
    .bannerDesp {
      font-size: 24px;
      line-height: 36px;
      max-width: 741px;
      @media screen and (min-width: 1920px) {
        font-size: 36px;
        line-height: 42px;
      }
      @media screen and (max-width: 888px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    .bannerButton {
      max-width: 224px;
      max-height: 70px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #1c2973;
      background: #ffffff;
      box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .bannerRight {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    z-index: 2;
    @media screen and (min-width: 889px) and (max-width: 1024px) {
      margin-top: 30px;
    }
    @media screen and (min-width: 521px) and (max-width: 888px) {
      margin-top: -30px;
    }
    @media screen and (max-width: 520px) {
      margin-top: -50px;
    }
    .bannerImage1 {
      margin-right: -40px;
      @media screen and (min-width: 1920px) {
        margin-right: -60px;
      }
    }
    .bannerImage2 {
      margin-left: -40px;
      margin-top: 250px;
      @media screen and (min-width: 1920px) {
        margin-top: 300px;
        margin-left: -60px;
      }
      @media screen and (min-width: 521px) and (max-width: 1024px) {
        margin-top: 180px;
      }
    }
  }
}
