.banner2 {
  max-width: 100vw;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1920px) {
      margin-top: 5%;
  }
  @media screen and (max-width: 520px) {
    flex-wrap: wrap-reverse;
    padding: 5%;
    margin-top: 40%;
  }
  @media screen and (max-width: 380px) {
    flex-wrap: wrap-reverse;
    padding: 5%;
    margin-top: 80%;
  }
  .banner2Image {
    width: 100%;
  }
  .banner2Title {
    width: 100%;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    color: #1c2973;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1920px) {
      font-size:60px;
      line-height: 80px;
    }
  @media screen and (max-width: 888px) {
    padding: 0;
}
  }
  .banner2Desp {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #6d809b;
    margin-top: 20px;
    font-family: Rubik;
    @media screen and (min-width: 1920px) {
     font-size: 24px;
     line-height: 36px;
    }
  }
}
