.features {
  width: 100%;
  position: relative;
  background: #f6f9ff;
  overflow: hidden;
}

.features .shapeContainer {
  position: relative;
  background: white;
  height: 5vh;
}

.features .wave {
  position: absolute;
  height: 76px;
  width: 100%;
  background: #fff;
  bottom: 0;
}

.features .wave::before,
.features .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.features .wave::before {
  width: 55%;
  height: 109%;
  background-color: #f6f9ff;
  right: -1.5%;
  top: 60%;
}

.features .wave::after {
  width: 55%;
  height: 100%;
  background-color: #f6f9ff;
  left: -15.5%;
  top: 75%;
}

.features .featuresTitle {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #1c2973;
  margin-bottom: 25px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1920px) {
  .features .featuresTitle {
    font-size: 60px;
    line-height: 80px;
  }
}

.features .featuresDesp {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #6d809b;
  width: 50%;
  margin-top: 20px;
}

@media screen and (min-width: 1920px) {
  .features .featuresDesp {
    font-size: 24px;
    line-height: 36px;
    width: 40%;
  }
}

@media screen and (max-width: 888px) {
  .features .featuresDesp {
    width: 90%;
  }
}

.features .featuresContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% 10%;
}

@media screen and (min-width: 1600px) {
  .features .featuresContainer {
    max-width: 1100px;
    margin: 3% auto;
  }
}

@media screen and (max-width: 888px) {
  .features .featuresContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5%;
    margin-bottom: 50px;
  }
}

.features .featuresContainer .featuresRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -150px;
}

@media screen and (max-width: 520px) {
  .features .featuresContainer .featuresRight {
    margin-top: 100px;
    margin-left: -60px;
  }
}

@media screen and (min-width: 1600px) {
  .features .featuresContainer .featuresRight {
    margin-left: -50px;
  }
}

.features .featuresContainer .featuresRight .featuresRightContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

@media screen and (max-width: 520px) {
  .features .featuresContainer .featuresRight .featuresRightContent {
    width: 100vw;
  }
}

@media screen and (min-width: 1600px) {
  .features .featuresContainer .featuresRight .featuresRightContent {
    margin-top: 70px;
    margin-bottom: -40px;
  }
}

.features .featuresContainer .featuresRight .featuresRightContent .contentTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-left: -20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: left;
  color: #1c2973;
}

@media screen and (max-width: 520px) {
  .features .featuresContainer .featuresRight .featuresRightContent .contentTitle {
    font-size: 24px;
    line-height: 31px;
    margin-left: -50px;
  }
}

@media screen and (min-width: 1600px) {
  .features .featuresContainer .featuresRight .featuresRightContent .contentTitle {
    min-width: 380px;
    margin-left: 50px;
  }
}

.features .featuresContainer .featuresRight .featuresRightContent .contentTitle .contentDesp {
  font-size: 16px;
  line-height: 27px;
  text-align: left;
  color: #6d809b;
}

@media screen and (max-width: 520px) {
  .features .featuresContainer .featuresRight .featuresRightContent .contentTitle .contentDesp {
    font-size: 14px;
    line-height: 23px;
  }
}

.features .featuresContainer .featuresRight .featuresRightContent .contentImg {
  width: 100%;
}

.features .featuresContainer .featuresCenter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  z-index: 1;
}

@media screen and (max-width: 520px) {
  .features .featuresContainer .featuresCenter img {
    width: 100%;
    height: 450px;
  }
}

.features .featuresContainer .featuresLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  margin-right: -150px;
  z-index: 10;
}

@media screen and (max-width: 520px) {
  .features .featuresContainer .featuresLeft {
    margin-right: -60px;
  }
}

@media screen and (min-width: 1600px) {
  .features .featuresContainer .featuresLeft {
    margin-right: -50px;
  }
}

.features .featuresContainer .featuresLeft .featuresLeftContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1600px) {
  .features .featuresContainer .featuresLeft .featuresLeftContent {
    margin-top: 60px;
    margin-bottom: -40px;
  }
}

.features .featuresContainer .featuresLeft .featuresLeftContent .contentTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-right: -20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: right;
  color: #1c2973;
}

@media screen and (max-width: 520px) {
  .features .featuresContainer .featuresLeft .featuresLeftContent .contentTitle {
    font-size: 24px;
    line-height: 31px;
    margin-right: -50px;
  }
}

@media screen and (min-width: 1600px) {
  .features .featuresContainer .featuresLeft .featuresLeftContent .contentTitle {
    min-width: 380px;
    margin-right: 50px;
  }
}

.features .featuresContainer .featuresLeft .featuresLeftContent .contentTitle .contentDesp {
  font-size: 16px;
  line-height: 27px;
  text-align: right;
  color: #6d809b;
}

@media screen and (max-width: 520px) {
  .features .featuresContainer .featuresLeft .featuresLeftContent .contentTitle .contentDesp {
    font-size: 14px;
    line-height: 23px;
  }
}

.features .featuresContainer .featuresLeft .featuresLeftContent .contentImg {
  width: 100%;
  z-index: 11;
}
/*# sourceMappingURL=Features.module.css.map */