@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
.header {
  max-width: 100vw;
  overflow: hidden;
  height: 100px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 888px) {
  .header {
    padding-left: 15%;
  }
}

.header .headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 520px) {
  .header .headerLeft {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .headerLeft .headerTabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-left: 20px;
  color: #ffffff;
}

@media screen and (min-width: 1500px) {
  .header .headerLeft .headerTabs {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80%;
    margin-left: 100px;
  }
}

@media only screen and (min-device-width: 889px) and (max-device-width: 1200px) {
  .header .headerLeft .headerTabs {
    width: 120%;
    margin-left: 0;
    margin-right: 20px;
    font-size: 1rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 888px) {
  .header .headerLeft .headerTabs {
    display: none;
  }
}

.header .headerLeft .headerTabs li {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none !important;
  list-style: none !important;
  border-bottom: 1px solid transparent;
}

.header .headerLeft .headerTabs li:hover {
  border-bottom: 1px solid #ffffff;
}

.header .headerLeft .headerTabs .active {
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
  list-style: none;
}

.header .headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 520px) {
  .header .headerRight {
    display: none;
  }
}

.header .headerRight .headerAdmin {
  white-space: nowrap;
  margin: 10px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.39);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0.15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .headerRight .headerAdmin:hover {
  opacity: 0.9;
}

.header .headerRight .headerAdmin .admin {
  margin-left: 20px;
}

.header .headerRight .headerDownload {
  max-width: 190px;
  white-space: nowrap;
  margin: 10px;
  background: #6754e2;
  -webkit-box-shadow: 0px 6px 20px rgba(70, 55, 172, 0.4);
          box-shadow: 0px 6px 20px rgba(70, 55, 172, 0.4);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.15em;
}

.header .headerRight .headerDownload:hover {
  opacity: 0.8;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 520px) {
  .header .headerRight .headerDownload {
    margin: 0;
  }
}

.sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  top: 100px;
  width: 70%;
  padding: 30px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  background: linear-gradient(136.11deg, #1c2973 6.11%, #56b7e0 82.61%);
  z-index: 100;
  overflow-y: scroll;
}

@media only screen and (min-device-width: 889px) {
  .sidebarMenu {
    display: none;
  }
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuList {
  list-style: none;
  color: #ffffff;
  font-weight: bold;
  padding: 20px;
  margin-right: auto;
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 520px) {
  .sidebarMenuList:nth-child(6) {
    padding: 0px;
  }
}

@media only screen and (min-device-width: 521px) and (max-device-width: 888px) {
  .sidebarMenuList:nth-child(4), .sidebarMenuList:nth-child(5) {
    display: none;
  }
}

.sidebarMenuList {
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.openSidebarMenu[type="checkbox"]:checked ~ .sidebarMenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.openSidebarMenu[type="checkbox"] {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 30px;
  left: 30px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding-top: 6px;
  padding-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

@media only screen and (min-device-width: 889px) {
  .sidebarIconToggle {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 888px) {
  .sidebarIconToggle {
    display: block;
  }
}
/*# sourceMappingURL=Header.module.css.map */