.header {
  width: 100%;
  height: 100px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @media screen and (max-width: 888px) {
    position: fixed;
    padding-left: 5%;
    background: linear-gradient(175deg, #1c2973 2.34%, #56b7e0 100%);
  }
  .headerLeft {
    display: flex;
    align-items: center;
    width: 100%;
    .headerTabs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      margin-left: 20px;
      color: #ffffff;
      @media screen and (min-width:1500px){
        justify-content: space-evenly;
        width: 80%;
        margin-left: 100px;
      }
      @media only screen and (min-device-width: 889px) and (max-device-width: 1200px) {
        width: 120%;
        margin-left: 0;
        margin-right: 20px;
        font-size: 1rem;
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 888px) {
        display: none;
      }
      li{
        transition: all 0.3s linear;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        &:hover{
          border-bottom: 1px solid #ffffff;
        }
      }
      .active{
        border-bottom: 1px solid #ffffff;
      }
    }
  }
  .headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    @media only screen and (min-device-width: 320px) and (max-device-width: 520px) {
      display: none;
    }
    .headerAdmin {
      white-space: nowrap;
      margin: 10px;
      background: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.39);
      box-sizing: border-box;
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      letter-spacing: 0.15em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        opacity: 0.9;
      }
      .admin {
        margin-left: 20px;
      }
    }
    .headerDownload {
      max-width: 190px;
      white-space: nowrap;
      margin: 10px;
      background: #6754e2;
      box-shadow: 0px 6px 20px rgba(70, 55, 172, 0.4);
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.15em;
      &:hover {
        opacity: 0.8;
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 520px) {
        margin: 0;
      }
    }
  }
}
.sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  top: 100px;
  width: 100%;
  transform: translateX(200%);
  transition: transform 300ms ease-in-out;
  background: linear-gradient(136.11deg, #1c2973 6.11%, #56b7e0 82.61%);
  z-index: 100;
  overflow-y: scroll;
  @media only screen and (min-device-width: 889px) {
    display: none;
  }
}
.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  .headerAdmin {
    white-space: nowrap;
    margin: 10px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.39);
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.15em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    &:hover {
      opacity: 0.9;
    }
    .admin {
      margin-left: 20px;
    }
  }
  .headerDownload {
    max-width: 190px;
    white-space: nowrap;
    margin: 10px;
    background: #6754e2;
    box-shadow: 0px 6px 20px rgba(70, 55, 172, 0.4);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15em;
    &:hover {
      opacity: 0.8;
    }
  }
  @media only screen and (min-device-width: 889px) {
    display: none;
  }
}
.sidebarMenuList {
  list-style: none;
  color: #ffffff;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  @media only screen and (min-device-width: 320px) and (max-device-width: 520px) {
    &:nth-child(4),
    &:nth-child(5) {
      padding: 0px;
    }
  }
  @media only screen and (min-device-width: 521px) and (max-device-width: 888px) {
    &:nth-child(4),
    &:nth-child(5) {
      display: none;
    }
  }
}
.sidebarMenuList {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.openSidebarMenu[type="checkbox"]:checked ~ .sidebarMenu {
  transform: translateX(0);
}

.openSidebarMenu[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 40px;
  right: 30px;
  height: 25px;
  max-width: 25px;
  background-color: #ffffff;
  @media only screen and (min-device-width: 889px) {
    display: none;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 888px) {
    display: block;
  }
}
